@{
    ViewData["Title"] = "Create Contact";
}

<h1>Create Contact</h1>

<div class="row">

    <div class="col-sm-5">

        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="fullName" placeholder="Full Name">
            </div>
            
            <div class="form-group">
                <input type="text" class="form-control" id="nickName" placeholder="Nick Name">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="address" placeholder="Address">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="website" placeholder="Website">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="dateOfBirth" placeholder="Date Of Birth">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
            </div>

             <div class="col-sm-1"><i id="add_language" class="fa fa-plus-circle" style="display: inline-block;"></i></div>

            <button type="submit" class="btn btn-primary">Sign in</button>

        </form>

    </div>

</div>